{% extends 'base.html.twig' %}

{% block title %}
{{ parent () }} - Accueil
{% endblock %}
{% block body %}

<h1>Liste des médicaments</h1>
<hr>

<table style="width:100%">
  <tr class="lightgrey">
    <td>Médicaments</td>
    <td>CIP</td>
    <td>Détails</td>
  </tr>
  {% for medicament in medicaments %}
   <tr class="lightblue">
     <td>{{ medicament.nommedicament }}</td>
     <td>{{ medicament.CIP }}</td>
     <td style="text-align:center; border:unset"><a href="{{ path('Detail', { 'CIP': medicament.CIP }) }}"><i class="fas fa-search"></i></a></td>
   </tr>
  {% endfor %}
</table>


{% endblock %}
