{% extends 'base.html.twig' %}

{% block title %}Projet Gsb{% endblock %}

{% block body %}
<h1>Liste des médicaments :</h1>

<table align=center border=2>
  <tr>
    <th>Medicament</th>
    <th>molécule</th>
  </tr>
  <tr>
    <td><a href="">test</a></td>
    <td>test</td>
  </tr>
  <tr>
    <td><a href="">test</a></td>
    <td>test</td>
  </tr>
</table>
{% endblock %}
