<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
          h1
          {
            text-align: center;
            margin: unset;
            padding: unset;
          }

          #TopDiv
          {
            background-color: #679AFF;
            width: 100%;
            margin: unset;
            padding: unset;
          }

          #LeftDiv
          {
            margin: left;
          }
        </style>
        <title>Projet GSB</title>
    </head>
    <body>
      <div>

        <div id="TopDiv">
          <h1>Projet GSB</h1>
        </div>

        <div id="LeftDiv">
        </div>

        <div id="BottomDiv">
        </div>

    </div>
    </body>
</html>
