{% extends 'base.html.twig' %}

{% block title %}
{{ parent () }} - Accueil
{% endblock %}
{% block body %}

<h1>Liste des médicaments</h1>
<hr>

<table style="width:100%">
  <tr class="lightgrey">
    <td>Médicaments</td>
    <td>Molécules</td>
    <td>Détails</td>
  </tr>
  <tr class="lightblue">
    <td>Test</td>
    <td>Test</td>
    <td style="text-align:center; border:unset"><i class="fas fa-search"></i></a></td>
  </tr>
</table>

{#<a href="{{ path('Detail') }}">#}

{% endblock %}
