{% extends 'base.html.twig' %}

{% block title %}
{{ parent () }} - Ajout d'un médicament
{% endblock %}
{% block body %}

<h1>Ajout d'un médicament</h1>
<hr>

<label>Nom du médicament : <input type="text" style="width:24em"></input></label>

<br>
<button>Ajouter le médicament</button>

{% endblock %}
