{% extends 'base.html.twig' %}

{% block title %}Projet Gsb : Accueil{% endblock %}

{% block body %}
<h1>Liste des médicaments :</h1>

<table align=center border=2>
  <tr>
    <th>Medicament</th>
    <th>molécule</th>
  </tr>
  <tr>
    <td>test</td>
    <td>test</td>
    <td><a href="{{ path('Details') }}">details</a></td>

  </tr>
  <tr>
    <td>test</td>
    <td>test</td>
    <td><a href="{{ path('Details') }}">details</a></td>
  </tr>
</table>
{% endblock %}
