{% extends 'base.html.twig' %}

{% block title %}
{{ parent () }} - Modification d'un médicament
{% endblock %}
{% block body %}

<h1>Modification d'un médicament</h1>
<hr>

<table style="width:100%">
  <tr class="lightgrey">
    <td>Médicaments</td>
    <td>Molécules</td>
    <td></td>
  </tr>
  <tr class="lightblue">
    <td>Test</td>
    <td>Test</td>
    <td style="text-align:center; border:unset"><button style="width: 4em;"><i class="fas fa-briefcase"></i></button></td>
  </tr>
</table>

{% endblock %}
