{% extends 'base.html.twig' %}

{% block title %}
{{ parent () }} - Suppression de médicament
{% endblock %}
{% block body %}

<h1>Suppression d'un médicament</h1>
<hr>

<table style="width:100%">
  <tr class="lightgrey">
    <td>Médicaments</td>
    <td>Molécules</td>
    <td style="all:unset"></td>
  </tr>
  <tr class="lightblue">
    <td>Test</td>
    <td>Test</td>
    <td style="text-align:center; border:unset"><button style="width: 4em;"><i class="fas fa-trash" style="color:red"></i></button></td>
  </tr>
</table>

{% endblock %}
